/*
 * Code Mirror Movies
 */

.CodeMirror-tooltip {
  font-size: 20px;
}



/*
 * Impress global
 */

.impress-supported .fallback-message {
  display: none;
}

.step {
  width: 1000px;
}



/*
 * Slides specific
 */

.step:first-child .subheader {
  text-align: center;
}