p, ul, li, dl, dt, dd, blockquote {
  font-size: 1.2em;
}

/*
 * Code Mirror Movies
 */

.CodeMirror-tooltip {
  font-size: 20px;
}

.CodeMirror {
  height: 500px;
}


/*
 * Impress global
 */

.impress-supported .fallback-message {
  display: none;
}

.step {
  width: 1000px;
}



/*
 * Slides specific
 */

.step:first-child .subheader {
  text-align: center;
}